table, .sheet-rolltemplate-pool_roll table {
    width: 100%;
}

th, td, .sheet-rolltemplate-pool_roll th, .sheet-rolltemplate-pool_roll td {
    text-align: center;
    padding: 2px 10px;
    border: solid black 1px;
    font-size: 10px;
}

textarea.small-textarea {
    height: unset;
}

.grid {
    display: grid;
    gap: 10px;
    padding: 10px 0;
}

.grid-like-padding {
    padding: 10px 0;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.section {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.crimson, .sheet-rolltemplate-pool_roll .sheet-crimson {
    background-color: #e06666;
}
.light-crimson, .sheet-rolltemplate-pool_roll .sheet-crimson {
    background-color: #ea9999;
}
.gray, .sheet-rolltemplate-pool_roll .sheet-gray {
    background-color: #ccc;
}
.white, .sheet-rolltemplate-pool_roll .sheet-white {
    background-color: #fff;
}

.large, .sheet-rolltemplate-pool_roll .sheet-large {
    font-size: 14px !important;
}

.small, .sheet-rolltemplate-pool_roll .sheet-small {
    font-size: 9px !important;
}

/* configure the tab buttons */
.charsheet .basic,
.charsheet .combat,
.charsheet .attacks,
.charsheet .feats,
.charsheet .exp,
.charsheet .inventory  {
    display: none;
}

/* style the active button */
.charsheet .sheet-tabstoggle[value="basic"] ~ div .sheet-button0 {outline: 2px solid #e06666;}
.charsheet .sheet-tabstoggle[value="combat"] ~ div .sheet-button1 {outline: 2px solid #e06666;}
.charsheet .sheet-tabstoggle[value="attacks"] ~ div .sheet-button2 {outline: 2px solid #e06666;}
.charsheet .sheet-tabstoggle[value="feats"] ~ div .sheet-button3 {outline: 2px solid #e06666;}
.charsheet .sheet-tabstoggle[value="exp"] ~ div .sheet-button4 {outline: 2px solid #e06666;}
.charsheet .sheet-tabstoggle[value="inventory"] ~ div .sheet-button5 {outline: 2px solid #e06666;}
.charsheet .sheet-tabstoggle[value="all"] ~ div .sheet-button6 {outline: 2px solid #e06666;}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="basic"] ~ div.basic,
.charsheet .sheet-tabstoggle[value="combat"] ~ div.combat,
.charsheet .sheet-tabstoggle[value="attacks"] ~ div.attacks,
.charsheet .sheet-tabstoggle[value="feats"] ~ div.feats,
.charsheet .sheet-tabstoggle[value="exp"] ~ div.exp,
.charsheet .sheet-tabstoggle[value="inventory"] ~ div.inventory,
.charsheet .sheet-tabstoggle[value="all"] ~ div {
    display: block;
}

.danger-button {
    color: red;
    background-color: darkred;
    float: right;
}

.repeating-table, 
.repeating-row-table > .header,
.repeating-row-table > .repcontainer > .repitem {
    display: grid;
}

.item-table {
    grid-template-columns: repeat(6, 1fr) 6fr;
}

.inventory > .header, .inventory > .repcontainer > .repitem {
    grid-template-columns: 40% 15% 15% 15% 15%;
}

.exp-purchases > .header, .exp-purchases > .repcontainer > .repitem {
    grid-template-columns: 64% 12% 12% 12%;
}

.feats > .header, .feats > .repcontainer > .repitem {
    grid-template-columns: 40% 60%;
}

.repeating-table > div,
.repeating-row-table > .header > div,
.repeating-row-table > .repcontainer > .repitem > div {
    padding: 2px 10px;
    font-size: 10px;
    font-weight: bold;
    /* Hack 1 - Collapse Borders */
    gap: 1px;
    box-shadow:0 0 0 1px black;
    /* Hack 2 - Center horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.repeating-colspan-2 {
    grid-column-end: span 2;
}

.repeating-colspan-3 {
    grid-column-end: span 3;
}

.repeating-colspan-4 {
    grid-column-end: span 4;
}

.repeating-colspan-5 {
    grid-column-end: span 5;
}

.repeating-rowspan-2 {
    grid-row-end: span 2;
}

.repeating-rowspan-7 {
    grid-row-end: span 7;
}

.small-textbox {
    width: 3.5em !important;
}

.middle-textbox {
    width: 7em !important;
}